.form {
  margin-bottom: 20px;
  margin-left: 20px;
}

.form div {
  margin-bottom: 10px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input {
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
}

.form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 0.8em;
}
